<app-header-waiter></app-header-waiter>

<section class="contChefView">
    <section class="contResumen">
    <div class="contClient">
        <div class="clientTxt">CLIENTE:</div>
        <span class="clientName">María</span>
    </div>
    <div class="contItemsOrder">
        <div class="orderResumen">
        <div class="titleOrder">
            <span class="itemStyle spanCant">Cant.</span>
            <span class="itemStyle spanProd">Producto</span>
        </div>
        <section class="contItemReceipt">
            <div class="itemDescription">
            <span class="itemStyle spanCant">2</span>
            <span class="itemStyle spanProd">agua</span>
            </div>
        </section>
        </div>
        <div class="contFooterResumen">
        <button id="closeDetail" class="checkOrder">ACEPTAR</button>
        </div>
    </div>
    </section>

    <section class="contResumen">
        <div class="contClient">
        <div class="clientTxt">CLIENTE:</div>
        <span class="clientName">María</span>
        </div>
        <div class="contItemsOrder">
        <div class="orderResumen">
            <div class="titleOrder">
            <span class="itemStyle spanCant">Cant.</span>
            <span class="itemStyle spanProd">Producto</span>
            </div>
            <section class="contItemReceipt">
            <div class="itemDescription">
                <span class="itemStyle spanCant">2</span>
                <span class="itemStyle spanProd">agua</span>
            </div>
            </section>
        </div>
        <div class="contFooterResumen">
            <button id="closeDetail" class="checkOrder">ACEPTAR</button>
        </div>
        </div>
    </section>

    <section class="contResumen">
        <div class="contClient">
        <div class="clientTxt">CLIENTE:</div>
        <span class="clientName">María</span>
        </div>
        <div class="contItemsOrder">
        <div class="orderResumen">
            <div class="titleOrder">
            <span class="itemStyle spanCant">Cant.</span>
            <span class="itemStyle spanProd">Producto</span>
            </div>
            <section class="contItemReceipt">
            <div class="itemDescription">
                <span class="itemStyle spanCant">2</span>
                <span class="itemStyle spanProd">agua</span>
            </div>
            </section>
        </div>
        <div class="contFooterResumen">
            <button id="closeDetail" class="checkOrder">ACEPTAR</button>
        </div>
        </div>
    </section>
</section>