<section class="contWelcome">
  <div class="contImgQueen">
    <img src="https://raw.githubusercontent.com/daniandp/LIM018-burger-queen/develop/burges-queen/src/app/components/img/logoBurgerQ.png" class="logo" alt="Logo Burger Queen">
    <h1>Burger Queen</h1>
  </div>
  <div class="contButtons">
    <div class="contbtnWaiter">
      <button class="btn btnWaiter">MESERO</button>
    </div>
    <div class="contbtnChef">
      <button class="btn btnChef">JEFE DE COCINA</button>
    </div>
  </div>
</section>