<section class="contModalBurgers">
    <div class="contTitleModal">
        <img src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="icono de hamburguesa">
        <h2>HAMBURGUESA</h2>
    </div>
    <div class="contGeneral">
        <div class="contTypeBurger">
            <div class="txtType">
                <h3>TIPO DE HAMBURGUESA:</h3>
            </div>
            <div class="contListOfTypes">
            <select class="listOfTypes">
                <option disabled selected>SELECCIONAR</option>
                <option value="veganType">VEGANA</option>
                <option value="beafType">CARNE</option>
                <option value="chickenType">POLLO</option>
            </select>
            </div>
        </div>
        <div class="contAdditionals">
            <div class="contSectionsAdd">
                <div class="contTitle">
                    <h3>ADICIONALES:</h3>
                </div>
                    <div class="contOptions">
                        <label for="optionCheese">
                            <input type="radio" value="cheese" id="optionCheese" name="additionals">
                            QUESO 
                            <img src="https://cdn-icons-png.flaticon.com/512/883/883514.png" alt="icono de queso">
                        </label>
                        <label for="optionEgg">
                            <input type="radio" value="cheese" id="optionEgg" name="additionals">
                            HUEVO
                            <img src="https://cdn-icons-png.flaticon.com/512/817/817324.png" alt="icono de huevo">
                        </label>
                    </div>
            </div>
            <div class="contBtnAcept">
                <button type="button" class="btn" (click)="closeModal()">ACEPTAR</button>
            </div>
        </div>
    </div>
</section>
