/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Slackey', cursive; */

.contHeader , .contBtnsHeader {
    display: flex;
}

.contHeader {
    justify-content: space-between;
    padding: 0rem 1rem;
    background: rgba(195, 169, 131, 0.9);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    margin: 0.5rem;
}

.contBtnsHeader{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    gap: 10% ;
}
.contLogo > img {
    height: 5rem;
}

.contTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contTitle > h1 {
    font-family: 'Slackey', cursive;
    font-size: xx-large;
    background: linear-gradient(180deg, #FFB307 0%, rgba(242, 128, 5, 0.931668) 50.35%, rgba(209, 0, 0, 0.76) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 0.5px rgb(54, 47, 47);
}

.btn{
    width: 12rem;
    height: 3rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    border-style: none;
    color: #FFFFFF;
    background-color: #FFB307;
    font-size:  medium;
    text-shadow: 0 0 6px #000000, 0 0 2px #000000;
    cursor: pointer;
    font-family: 'Slackey', cursive; 
}

.btnSelected{
    background: #00CED1;
    color: #fff;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 0 6px #000000, 0 0 2px #000000;
}