<section class="contTickets">
    <div class ="contBtnDeliveredOrders">
        <button type="button" class="btnDeliveredOrders">
           <span>PEDIDOS ENTREGADOS </span>
           <div class="contImg">
             <img src="https://cdn-icons-png.flaticon.com/512/3081/3081371.png" alt="icono de entregado">
           </div>
        </button>
    </div>
    <section>
        <app-ticket-order></app-ticket-order>
        <!-- <app-ticket-order></app-ticket-order>
        <app-ticket-order></app-ticket-order> -->
    </section>
</section>