
.contTickets {
    display: flex;
    flex-wrap: wrap;
}
.contBtnDeliveredOrders {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6vh;
    gap: 2rem;
    margin: 1rem;
}

.btnDeliveredOrders {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Slackey', cursive;
    margin-top: 1rem;
    color: #fff;
    text-shadow: 0 0 6px #000000, 0 0 2px #000000;
    font-size: medium;
    background-color: #FFB307;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
}

.btnSelected{
    background-color: #00CED1;
    color: #fff;
    text-shadow: 0 0 6px #000000, 0 0 2px #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnDeliveredOrders > span {
    width: 50%;
}

.contImg > img {
    width: 2rem;
    height: 2rem;
}

/* <<<<<<<<<<<<<<<< AQUI COMIENZAN LOS TICKETS ORDER >>>>>>>>>>>>>>>>>>>>>>>>*/

.contTicketOrder {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 29vh;
    background: rgba(195, 169, 131, 0.8);
    border-radius: 0.5rem;
    justify-content: flex-start;
}

.contStatusOrder {
    display: flex;
    background-color: #BC0000;
    height: 25%;
    border-radius: 0.5rem 0.5rem 0 0;
    font-family: "Slackey", cursive;
    color: #fff;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
}

.contInfoClient {
    display: flex;
    background: rgba(255, 255, 255, 0.45);
    width: 80%;
    height: 13vh;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 3% auto;

}

.clientNameTicket {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

.contBtnOrder {
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 30%;
    align-items: center;
}

.checkOrder, .deliveredOrder {
    border: none;
    border-radius: 0.5rem;
    height: 100%;
    width: 43%;
    font-family: "Slackey", cursive;
    color: #fff;
    font-size: medium;
    background-color: #FFB307;
    text-shadow: 0 0 6px #000000, 0 0 2px #000000;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}


.deliveredOrder {
    background-color: #00CED1;
}

.cancelOrder {
    background-color: #BC0000;
}

.contDeliveredOrder {
    color: #000000;
    background-color: #C3A983;
}

.contReadyOrder {
    background-color: #36D100;
}

/* <<<<<<<<<<<<<<<< AQUI COMIENZAN EL MODAL CON EL RESUMEN DE ORDEN >>>>>>>>>>>>>>>>>>>>>>>>*/

.contResumen {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 50%;
    margin: 0 auto;
    background: rgba(195, 169, 131);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 25%);
    position: absolute;
    top: 54.3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contClient {
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
    gap: 2rem ;
}

.totalCash, .contClient > span, .checkOrder > span {
    font-size: x-large;
}

.clientTxt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.clientName, .btn, .totalCash {
    display: flex;
    background-color: #fff;
    width: 40%;
    height: 60%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border-style: none;
    color: #000;
    font-size: medium;
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: "Slackey", cursive;
    align-items: center;
    justify-content: center;
  }

  .clientName {
    font-size: xx-small;
    width: 50%;
  }

  .contItemsOrder {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 0.5rem;
    width: 90%;
    height: 80%;
    margin: auto;
  }

  .orderResumen {
    width: 100%;
    height: 85%;
    overflow: scroll;
  }

  .contFooterResumen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    padding: 0.8rem 0.01rem;
  }

  .totalCash {
    display: flex;
    background-color: #fff;
    width: 40%;
    height: 100%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border-style: none;
    color: #000;
    font-size: x-large; 
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: "Slackey", cursive;
    align-items: center;
    justify-content: center;
  }

 
  /* <<<<<<<<<<<<<<<< AQUI COMIENZAN EL RESUMEN DE ORDEN >>>>>>>>>>>>>>>>>>>>>>>>*/

  .contItemReceipt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.titleOrder {
    display: flex;
    width: 93.8%;
    margin: 1rem 1rem 0.8rem 1rem;
    border-bottom: dotted;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 0.5rem 0.5rem 0;
    border-width: .3rem;
    border-color: rgba(195, 169, 131);
}

.titleOrder > span {
    font-size: larger;
}

.spanCant, .spanProd, .spanPrice {
    width: 15%;
    line-height: 5vh;
    margin: auto;
    text-align: center;
    border-right: dotted;
    border-width: .3rem;
    border-color: rgba(195, 169, 131);
}

.spanProd {
    width: 60%;
    text-align: left;
    padding-left: 0.5rem;
}

.spanPrice {
    border: none;
}


.itemDescription {
    display: flex;
    width: 100%;
    border-bottom: dotted;
    border-width: .3rem;
    border-color: rgba(195, 169, 131);
}

.totalItems, .itemStyle {
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.contCounter {
    display: flex;
    width: 25%;
    height: 6vh;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.btnRemove, .btnAdd {
    background-color: transparent;
    border: none;
}

.iconsCounter {
    width: 50%;
    height: auto;
}

/* <<<<<<<<<<<<<<<< AQUI COMIENZAN EL MODAL DE CANCELAR LA ORDEN >>>>>>>>>>>>>>>>>>>>>>>>*/
.modalTotalVoid{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 32vh;
    background: rgba(195, 169, 131, 1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    position: absolute;
    align-items: center;
  }

  .contAceptOrCancelOrder {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    
  }

  .contAceptOrCancelOrder > button {
    font-size: x-large;
  }
  
  .modalTotalVoid > h1 {
    font-family: "Slackey", cursive;
    text-align: center;
    color: white;
    height: 50%;
    font-size: xx-large;
    text-shadow: 0 0 6px #000000, 0 0 2px #000000;
  }


  /* PENDIENTE MODIFICAR EL ESTILO DEL DIV DE LA LINEA 98 */