<section *ngFor="let item of Menu.breakfast" class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="{{item.image}}" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <span #product class="itemName">{{item.product}}</span>
        <div #price class="itemPrice">${{item.price}}</div>
    </div>
    <div class="contBtnAddItem">
        <button id="addItem" class="btnAddItem" (click)="getElemMenu()">AGREGAR</button>
    </div>
</section>