<section class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <div class="itemName">Café americano</div>
        <div class="itemPrice">$5</div>
    </div>
    <div class="contBtnAddItem">
        <button id="addItem" class="btnAddItem">AGREGAR</button>
    </div>
</section>
<!-- <section class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <div class="itemName">Café americano</div>
        <div class="itemPrice">$5</div>
    </div>
    <div class="contBtnAddItem">
        <button id="addItem2" class="btnAddItem">AGREGAR</button>
    </div>
</section>
<section class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <div class="itemName">Café americano</div>
        <div class="itemPrice">$5</div>
    </div>
    <div class="contBtnAddItem">
        <button id="addItem2" class="btnAddItem">AGREGAR</button>
    </div>
</section>
<section class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <div class="itemName">Café americano</div>
        <div class="itemPrice">$5</div>
    </div>
    <div class="contBtnAddItem">
        <button id="addItem2" class="btnAddItem">AGREGAR</button>
    </div>
</section>
<section class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <div class="itemName">Café americano</div>
        <div class="itemPrice">$5</div>
    </div>
    <div class="contBtnAddItem">
        <button id="addItem2" class="btnAddItem">AGREGAR</button>
    </div>
</section>
<section class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <div class="itemName">Café americano</div>
        <div class="itemPrice">$5</div>
    </div>
    <div class="contBtnAddItem">
        <button id="addItem2" class="btnAddItem">AGREGAR</button>
    </div>
</section>
<section class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <div class="itemName">Café americano</div>
        <div class="itemPrice">$5</div>
    </div>
    <div class="contBtnAddItem">
        <button id="addItem2" class="btnAddItem">AGREGAR</button>
    </div>
</section> -->