<section class="sectionNameClient">
    <div class="contNameClient">
        <div class="client">
            <h2>
                INGRESE EL NOMBRE DEL CLIENTE
            </h2>
        </div>

        <div class="client clientInput">
            <input id="nameClient" class="inputNameClient" placeholder=" EJEMPLO:  MARITA FLORES">
        </div>

        <div class="client" >
            <button id="idBtnGetOrder" class="btnGetOrder"type="button">INICIAR PEDIDO</button>
        </div>
    </div>
</section>

