<section class="contItemReceipt" *ngFor="let item of arrOrder">
    <div class="itemDescription">
        <span #itemName class="itemName">{{item.product}}</span>
        <span #itemPrice class="itemPrice">${{item.subTotal}}</span>
    </div>
    <div class="contCounter">
        <button #removeItem type="button" id="removeItem" (click)="restItems(item)" class="btnRemove">
            <img class="iconsCounter" src="https://cdn-icons-png.flaticon.com/512/232/232445.png" alt="remove-item">
        </button>
        <span class="totalItems">{{item.cont}}</span>
        <button #addItem type="button" id="addItem" (click)="sumItems(item)" class="btnAdd">
            <img class="iconsCounter" src="https://cdn-icons-png.flaticon.com/512/1828/1828575.png" alt="add-item">
        </button>
    </div>
</section>