.contChefView {
    display: flex;
    background: red;
    height: 80vh;
    padding: 1rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.contResumen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 32%;
    margin: 0 0.3rem;
    margin-bottom: 1rem;
    background: rgba(195, 169, 131);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 25%);
}

.contClient {
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
    gap: 1rem ;
    padding: 0 1.3rem;
}

.contClient > div {
  width: 70%;
}
.contClient > span, .checkOrder > span {
    font-size: x-large;
}

.clientTxt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: large;
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.clientName {
    display: flex;
    background-color: #fff;
    width: 40%;
    height: 60%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border-style: none;
    color: #000;
    font-size: medium;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
  }

  .clientName {
    font-size: xx-small;
    width: 50%;
  }

  .contItemsOrder {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 0.5rem;
    width: 90%;
    height: 80%;
    margin: auto;
  }

  .orderResumen {
    width: 100%;
    height: 85%;
    overflow: scroll;
  }

  .contFooterResumen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    padding: 0.8rem 0.01rem;
  }

  
  .contItemReceipt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 1rem;
}

.titleOrder {
    display: flex;
    width: 93.8%;
    margin: 0.5rem auto;
    border-bottom: dotted;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 0.5rem 0.5rem 0;
    border-width: .3rem;
    border-color: rgba(195, 169, 131);
}

.titleOrder > span {
    font-size: larger;
}

.itemStyle {
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.spanCant, .spanProd {
    width: 20%;
    line-height: 5vh;
    margin: auto;
    text-align: center;
    border-right: dotted;
    border-width: .3rem;
    border-color: rgba(195, 169, 131);
}

.spanProd {
    width: 75%;
    text-align: left;
    border: none;

}

.itemDescription {
  display: flex;
  width: 100%;
  border-bottom: dotted;
  border-width: .3rem;
  border-color: rgba(195, 169, 131);
}

.checkOrder {
  border: none;
  border-radius: 0.5rem;
  height: 100%;
  width: 55%;
  font-family: "Slackey", cursive;
  color: #fff;
  font-size: x-large;
  background-color: #FFB307;
  text-shadow: 0 0 6px #000000, 0 0 2px #000000;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}