<app-header-waiter></app-header-waiter>

<section class="contChefView">
  <section class="contResumen" *ngFor="let order of pendingOrders">
    <div class="contClient">
      <div>
        <div class="clientTxt">Fecha: {{ order.date }}</div>
        <div class="clientTxt">Hora: {{ order.hour }}</div>
      </div>
      <span class="timer">{{ order.clientName }}</span>
    </div>
    <div class="contItemsOrder">
      <div class="orderResumen">
        <div class="titleOrder">
          <span class="itemStyle spanCant">Cant.</span>
          <span class="itemStyle spanProd">Producto</span>
        </div>
        <section class="contItemReceipt">
          <div class="itemDescription" *ngFor="let item of order.fullOrder">
            <span class="itemStyle spanCant">{{item.cont}}</span>
            <span class="itemStyle spanProd">{{item.product}}</span>
          </div>
        </section>
      </div>
      <div class="contFooterResumen">
        <button
          id="closeDetail"
          class="checkOrder"
          (click)="openModalConfirm(order)"
        >
          ENTREGAR
        </button>
      </div>
    </div>
    <section class="modalTotalVoid" *ngIf="modalChef">
        <h1>¿ESTÁ SEGURO?</h1>
        <div class="contAceptOrCancelOrder">
          <button class="btn" (click)="sendOrderReady(orderByClient)">SI</button>
          <button class="btn" (click)="closeModalConfirm()">NO</button>
        </div>
    </section>  
  </section>
</section>
