<app-header-waiter></app-header-waiter>
<section class="sectionOrder">
    <!-- <app-modal-burgers></app-modal-burgers> -->
    <section class="contMenuItems">
        <div class="contBtn">
            <button id="btnBreakfast" class="btnMenuOrder">MENU DESAYUNO</button>
            <button id="btnLunch" class="btnMenuOrder">MENU ALMUERZO Y CENA</button>
        </div>
        <div class="contFoodOptions">
            <app-item-menu-lunch-and-dinner></app-item-menu-lunch-and-dinner>
        </div>
    </section>
    <section class="contResumen">
        <div class="contClient">
            <div class="clientTxt">CLIENTE:</div>
            <span id="clientName" class="clientName">{{ clientName }}</span>
        </div>
        <div class="contItemsOrder">
            <div class="orderResumen">
                <app-item-bill></app-item-bill>
            </div>
            <div class="contFooterResumen">
                <span class="totalCash">TOTAL = 12$</span>
                <button id="sendOrder" class="btn">ENVIAR ORDEN</button>
            </div>
        </div>
    </section>
</section>
