<section class="sectionOrder">
    <section class="contMenuItems">
        <div class="contBtn">
            <button id="btnBreakfast" class="btnMenuOrder">MENU DESAYUNO</button>
            <button id="btnLunch" class="btnMenuOrder">MENU ALMUERZO Y CENA</button>
        </div>
        <div class="contFoodOptions">
            <app-item-menu></app-item-menu>
        </div>
    </section>
    <section class="contResumen">
        <div class="contClient">
            <div class="clientTxt">CLIENTE:</div>
            <span id="clientName" class="clientName">ELSA YAYIN</span>
        </div>
        <div class="contItemsOrder">
            <div class="orderResumen">
            </div>
            <div class="contFooterResumen">
                <span class="totalCash">TOTAL = $30</span>
                <button id="sendOrder" class="btn">ENVIAR ORDEN</button>
            </div>
        </div>
    </section>
</section>
