<app-header-waiter></app-header-waiter>
<section class="sectionOrder">
    <section class="contMenuItems">
        <div class="contBtn">
            <button #btnBreakfast id="btnBreakfast" class="btnWaiterSelected btnMenuOrder" (click)="showBreakfast()">MENU DESAYUNO</button>
            <button #btnLunch id="btnLunch" class="btnMenuOrder" (click)="showLunchAndDinner()">MENU ALMUERZO Y CENA</button>
        </div>
        <div class="contFoodOptions">
            <div class="menuBreakfast" *ngIf="breakfastSwitch">
                <app-item-menu></app-item-menu> <!-- Muestra el menú de desayuno si breakfastSwitch es true -->
            </div>

            <div class="menuLunchAndDinner" *ngIf="lunchAndDinnerSwitch">
                <app-item-menu-lunch-and-dinner></app-item-menu-lunch-and-dinner> <!-- Muestra el menú de desayuno si lunchAndDinnerSwitch es true -->
            </div>
        </div>
    </section>
    <section class="contResumen">
        <div class="contClient">
            <div class="clientTxt">CLIENTE:</div>
            <span id="clientName" class="clientName">{{ clientName }}</span>
        </div>
        <div class="contItemsOrder">
            <div class="orderResumen">
                <app-item-bill></app-item-bill>
            </div>
            <div class="contFooterResumen">
                <span class="totalCash">Total= ${{totalPrice}}</span>
                <button id="sendOrder" class="btn" (click)="sendOrder()">ENVIAR ORDEN</button>
            </div>
        </div>
    </section>
    <section  *ngIf="totalVoid === true" class="modalTotalVoid">
        <h1>INGRESE UN PRODUCTO PARA CONTINUAR</h1>
        <button class="btn" (click)="closeModalOrderVoid()">CERRAR</button>
    </section>
    <section  *ngIf="orderSuccess === true" class="modalTotalVoid">
        <h1>ORDEN ENVIADA EXITOSAMENTE</h1>
        <button class="btn" (click)="closeModalOrderSuccess()">CERRAR</button>
    </section>
</section>