.sectionOrder {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    width: 90vw;
    height: 80vh;
    gap: 5%;
}

.contMenuItems, .contResumen {
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 50%;
    margin: auto;
    background: rgba(195, 169, 131, 0.9);
    border-radius: 0.5rem;
}
.contBtn, .contClient {
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: space-around;
}
.contClient {
    justify-content: center;
    gap: 2rem;
}

.clientTxt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.btnMenuOrder, .clientName, .btn, .totalCash {
    display: flex;
    background-color: #fff;
    width: 40%;
    height: 60%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border-style: none;
    color: #000;
    font-size: medium;
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: "Slackey", cursive;
    align-items: center;
    justify-content: center;
  }
  .clientName {
    font-size: xx-small;
    width: 50%;
  }

  .totalCash, .contClient > span {
    font-size: x-large;
}
  .btn {
    background-color: #FFB307;
    color: #fff;
    text-shadow: 0 0 6px #000000, 0 0 2px #000000;
  }

  .contFoodOptions, .contItemsOrder, .menuBreakfast, .menuLunchAndDinner {
    width: 90%;
    height: 80%;
    margin: auto;
  }

  .menuBreakfast, .menuLunchAndDinner {
    width: 100%;
  }

.contFoodOptions {
  overflow: scroll;
}

  .contItemsOrder {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 0.5rem;
  }

  .orderResumen {
    width: 100%;
    height: 80%;
    overflow: scroll;
  }
  
  .contFooterResumen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
  }
  .btnWaiterSelected{
    background: #00CED1;
    color: #fff;
    text-shadow: 0 0 6px #000000, 0 0 2px #000000;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.25);
}

/* <<<<<<<<<<<<<<<< AQUI COMIENZAN EL MODAL DE ORDEN VACÃA / ORDEN ENVIADA EXITOSAMENTE >>>>>>>>>>>>>>>>>>>>>>>>*/
.modalTotalVoid {
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 30vh;
  background: rgba(195, 169, 131, 1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  position: absolute;
  align-items: center;
}
.modalTotalVoid > h1 {
  font-family: "Slackey", cursive;
  text-align: center;
  color: white;
  height: 50%;
  font-size: xx-large;
  text-shadow: 0 0 6px #000000, 0 0 2px #000000;
}
.modalTotalVoid > button {
  margin-top: -2rem;
  height: 20%;
}