<section class="contTicketOrder">
    <div class="contStatusOrder">
        <span id="statusOrder" class="statusOrder">PENDIENTE</span>
    </div>
    <div class="contInfoOrder">
        <div class="contInfoClient">
            <span id="clientName" class="clientName"> PANCHITO FLORES</span>
        </div>
        <div class="contBtnOrder">
            <button type="button" id="idCheckOrder" class="checkOrder">VER</button>
            <!-- <button type="button" id="idDeliveredOrder" class="deliveredOrder">ENTREGADO</button> -->
        </div>
    </div>
</section>
<!-- <section class="contTicketOrder">
    <div class="contStatusOrder">
        <span id="statusOrder" class="statusOrder">PENDIENTE</span>
    </div>
    <div class="contInfoOrder">
        <div class="contInfoClient">
            <span id="clientName" class="clientName"> PANCHITO FLORES</span>
        </div>
        <div class="contBtnOrder">
            <button type="button" id="idCheckOrder" class="checkOrder">VER</button> -->
            <!-- <button type="button" id="idDeliveredOrder" class="deliveredOrder">ENTREGADO</button> -->
        <!-- </div>
    </div>
</section> -->
<!-- REVISAR TYPE BUTTON DE LOS BOTONES
    REVISAR ID DE LOS HTML  -->