<section *ngFor="let item of Menu.lunchAndDinner" class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="{{item.image}}" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <span class="itemName">{{item.product}}</span>
        <div class="itemPrice">${{item.price}}</div>
    </div>
    <div class="contBtnAddItem">
        <button #btnAdd id="addItem" class="btnAddItem" (click)="openModal()">AGREGAR</button>
    </div>
    <div *ngIf="modalSwitch && item.product.includes('Hamburguesa')">
        <app-modal-burgers></app-modal-burgers>
    </div>
</section>
