<section *ngFor="let item of Menu.lunchAndDinner" class="contItemMenu">
    <div class="iconItemMenu">
        <img class="imageItemMenu" src="{{item.image}}" alt="imagen item menu">
    </div>
    <div class="contItemDescription">
        <span  class="itemName">{{item.product}}</span>
        <div class="itemPrice">${{item.price}}</div>
    </div>
    <div class="contBtnAddItem">
        <button #btnAdd id="addItem" class="btnAddItem" (click)="getElemMenu(item)">AGREGAR</button>
    </div>
    <div *ngIf="modalSwitch">
        <section class="contModalBurgers">
            <div class="contTitleModal">
                <img src="https://cdn-icons-png.flaticon.com/512/1923/1923533.png" alt="icono de hamburguesa">
                <h2>HAMBURGUESA</h2>
            </div>
            <div class="contGeneral">
                <div class="contTypeBurger">
                    <div class="txtType">
                        <h3>TIPO DE HAMBURGUESA:</h3>
                    </div>
                    <div class="contListOfTypes">
                    <select #selectType (change)="changeSelectValue($event)" class="listOfTypes">
                        <option disabled value="unselect" selected>SELECCIONAR</option>
                        <option #veganType value="Vegana">VEGANA</option>
                        <option #beafType value="Carne">CARNE</option>
                        <option #chickenType value="Pollo">POLLO</option>
                    </select>
                    </div>
                </div>
                <div class="contAdditionals">
                    <div class="contSectionsAdd">
                        <div class="contTitle">
                            <h3>ADICIONALES:</h3>
                        </div>
                            <div class="contOptions">
                                <label for="optionCheese">
                                    <input (change)="changeCheckboxCheese($event)" #addCheese type="checkbox" value="cheese" id="optionCheese">
                                    QUESO 
                                    <img src="https://cdn-icons-png.flaticon.com/512/883/883514.png" alt="icono de queso">
                                </label>
                                <label for="optionEgg">
                                    <input (change)="changeCheckboxEgg($event)" #addEgg type="checkbox" value="egg" id="optionEgg">
                                    HUEVO
                                    <img src="https://cdn-icons-png.flaticon.com/512/817/817324.png" alt="icono de huevo">
                                </label>
                            </div>
                    </div>
                    <div class="contBtnAcept">
                        <button #btnAceptModal type="button" class="btn" (click)="closeModal(item)">ACEPTAR</button>
                    </div>
                    <div *ngIf="selectType.value === 'unselect'">ELIGE EL TIPO DE HAMBURGUESA</div>
                </div>
            </div>
        </section>
    </div>
</section>
